<div style="text-align:left">
    
    <h3>ABOUT US:</h3>
    
    <br /><br />

    <p><b>NAMAKARANAM</b> is a website for searching for <b>HINDU BABY NAMES</b>. We are a group of Individuals working 
        towards getting this website for the purpose of serving HINDUS all over the WORLD. We have a very pleasing 
        and attractive User Interface with some excellent functionalities like BABY NAMES SEARCH ENGINE, FAVORITES, 
        SEARCHING TWIN NAMES, FINDING COMBO NAMES, SUGGEST A NAME THAT YOU DONT SEE IN OUR DATABASE. We are trying our best
        to maintain a comprehensive and large database of HINDU INDIAN NAMES. So you will have a nice time during your visit 
        to our website. 
    </p>

</div>