<header>
  <!-- <app-nm-nav></app-nm-nav> -->

  <!-- Header with NAMAKARANAM Logo/Name comes here -->
  <nav class="navbar navbar-static-top">
      <div class="container">
          <a class="navbar-brand center">Namakaranam</a>
      </div>
  </nav>
    
  <!-- Navigation BAR comes here... -->
  <nav class="navbar navmenu navbar-static-top">
    <div class="container nav navbar-nav">
      <!-- <a routerLink="home"> -->
      <button type="button" class="btn btn-default navbar-btn" routerLink="/"           ><b>HOME        </b></button>
      <button type="button" class="btn btn-default navbar-btn" routerLink="favorites"   ><b>FAVORITES   </b></button>
      <button type="button" class="btn btn-default navbar-btn" routerLink="twinnames"   ><b>TWIN NAMES  </b></button>
      <button type="button" class="btn btn-default navbar-btn" routerLink="testimonials"><b>TESTIMONIALS</b></button>
      <button type="button" class="btn btn-default navbar-btn" routerLink="combonames"  ><b>COMBO NAMES </b></button>
      <button type="button" class="btn btn-default navbar-btn" routerLink="suggest"     ><b>SUGGEST     </b></button>

    </div>
  </nav>
</header>

<br />

<section>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>

<div class="fixed-footer">
  <div class="navbar">
    <!-- <h4>Footer code goes here...</h4> --> 
    <br />
    <b>
    
    <a routerLink="aboutus">About Us</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="disclaimer">Disclaimer</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="contactus">Contact Us</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="faq">FAQ</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="contribute">Contribute</a>

    </b>
  </div>
</div>
