<h3>Combo Names</h3>
<div class="container">
    <form #comboForm="ngForm" (ngSubmit)="onSubmit(comboForm.value)">

        <div class="form-group col-xs-4">
            <label>Mother's Name</label>
            <input type="text" class="form-control" name="name1" ngModel 
                        placeholder="Enter Mother's Name" />
        </div>

        <div class="form-group col-xs-4">
            <label>Father's Name</label>
            <input type="text" class="form-control" name="name2" ngModel
                        placeholder="Enter Father's Name" />
        </div>

        <div class="form-group col-xs-3">
            <label>Baby's Gender</label>
            <select class="form-control" name="gender" ngModel>
                <option disabled value="">SELECT</option>
                <option value="">ANY</option>
                <option value="B">BOY</option>
                <option value="G">GIRL</option>
            </select>
        </div>

        <div class="col-xs-1">
            <label></label>
            <button type="submit" class="btn btn-primary">Search</button>
        </div>

    </form>
</div>


<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Meaning</th>
                <th>Gender</th>
                <th>Favs</th>
            </tr>
        </thead>

        <tbody *ngIf="resultDataLength>0">
            <tr *ngFor="let row of resultData">
                <td>{{row?.name}}</td>
                <td>{{row?.meaning}}</td>
                <td>{{row?.gender}}</td>
                <td><button (click)="addToFavs(row?.name)"><img src="./../assets/favlogo.jpg" width="25" height="25"></button></td>
            </tr>
        </tbody>
    </table>
</div>