<div class="container">
  <div class="table-responsive">
    <div *ngIf="resultData | async">
      <table class="table">
        <thead>
        <tr>
          <th style="width: 30%"><h4>Name</h4></th>
          <th style="width: 40%"><h4>Meaning</h4></th>
          <th style="width: 20%"><h4>Gender</h4></th>
          <th style="width: 10%"><h4>Favs</h4></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let da of resultData | async | paginate: {itemsPerPage:8, currentPage:page, id: '1' }; let i=index">
          <td><h5>{{da?.name}}</h5></td>
          <td><h5>{{da?.meaning}}</h5></td>
          <td><h5>{{da?.gender}}</h5></td>
          <td><h5><button (click)="addToFavs(da?.name,da?.meaning,da?.gender)"><img src="./../assets/favlogo.jpg" width="25" height="25"></button></h5></td>
        </tr>
        <pagination-controls (pageChange)="page = $event" id="1"
                             maxSize="10"
                             directionLinks="true"
                             autoHide="true">
        </pagination-controls>
        </tbody>
      </table>
    </div>
  </div>
</div>
