<h3>Frequently Asked Questions:</h3>

<br /><br />

<ul>
    <li>
        <b>What is NAMAKARANAM.COM website about?</b><br />
        <b>A.</b> Largest INDIAN HINDU BABY NAMES database with search capabilities.
    </li>
<br />
    <li>
        <b>What is so special about NAMAKARANAM.COM?</b><br />
        <b>A.</b> Pleasing User Interace, Excellent Functionalities, Large Database.
    </li>
<br />
    <li>
        <b>How large is NAMAKARANAM.COM database?</b><br />
        <b>A.</b> We have a collection of 50,000 names in our database, and still increasing...
    </li>
<br />
    <li>
        <b>Why should I look for hindu baby names in NAMAKARANAM.COM and why not other website?</b><br />
        <b>A.</b> You will have a very good journey while browsing through our website, where you can search for names, 
        add them to favorites, and export them as a PDF / WORD / CSV documents. Our SEARCH ENGINE lets you search 
        for NAMES by GENDER, THEME, LANGUAGE, RASHI, NAKSHATRA, and a search string. 

    </li>
<br />
    <li>
        <b>How can I contribute to NAMAKARANAM.COM?</b><br />
        <b>A.</b> You can help us by posting your suggestions and comments at our <a href="contactus">Contact Us</a> Page. 
        You can even help us by suggesting a name that you don't find in our database at our 
        <a href="suggest">Suggest Name</a> Page. Also, you can leave a testimonial for us if you find our website 
        useful for you at <a href="testimonials">Testimonials</a> Page.
    </li>
<br />
    <li>
        <b>Who are the target audience for NAMAKARANAM.COM?</b><br />
        <b>A.</b> The primary audience for NAMAKARANAM.COM are the people who are expecting a baby in their family. Also the 
        movie script writers and directors who are looking for some HINDU NAMES for the characters in their 
        movies. For ex: AVATAR, BAHUBALI etc.
    </li>
</ul>