<div class="container">
    
    <!-- <h3>Your Favorites List: </h3>
    <span id="favsList"></span> -->
    <!-- <button class="btn btn-primary"  (click)="getFavsList()">Get Favorites</button> -->

    <hr />
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody *ngIf="favsListLength>0">
            <tr *ngFor="let favName of favsList">
                <!-- <div *ngIf="favName!==''"> -->                
                <td>{{favName}}</td>
                <td><button (click)="removeFavItem(favName)"><img src="./../assets/favlogo.jpg" width="25" height="25"></button></td>
                <!-- </div> --> 
            </tr>
        </tbody>
        <tbody *ngIf="favsListLength==0">
            <tr>
                <td colspan="2">Favorites List is Empty</td>
            </tr>
        </tbody>
    </table>
    </div>
    {{favsListLength}}

    <!-- <h3>Your selection of Favorites...</h3>
    <div *ngFor="let favName of favsList">
        <h5>{{favName}}</h5>
    </div> --> 

    <hr />
    <p>localStorage.favsList - Local Storage - #{{favsListOriginal}}#</p>
    <p>this.favsList - String Array - #{{favsList}}#</p>
    <p>this.favsListJSON - JSON value - #{{favsListJSON}}#</p>
    
    <hr />
    <button class="btn btn-primary" (click)="clearFavsList()">Clear Favorites</button>
