<nav class="navbar navbar-static-top">
    <div class="container">
        <a class="navbar-brand center">Namakaranam</a>
    </div>
</nav>
<nav class="navbar navmenu navbar-static-top">
  <div class="container nav navbar-nav">
    <a routerLink="home"><button type="button" class="btn btn-default navbar-btn"><b>HOME</b></button></a>
    <a routerLink="home"><button type="button" class="btn btn-default navbar-btn"><b>FAVORITES</b></button></a>
    <!-- <button type="button" class="btn btn-default navbar-btn" (click)="setBooleanValues()"><b>TWIN NAMES</b></button> -->
    <button type="button" class="btn btn-default navbar-btn"><b>TWIN NAMES</b></button>
    <button type="button" class="btn btn-default navbar-btn"><b>TESTIMONIALS</b></button>
    <button type="button" class="btn btn-default navbar-btn"><b>COMBO NAMES</b></button>
    <button type="button" class="btn btn-default navbar-btn"><b>SUGGEST</b></button>
  </div>
</nav>
