.navbar-brand.center{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    font-size: 200%;
    text-align: center;
    margin: auto;
    height:100%;
    color: darkblue;
}
.navbar{
    background-color: #46f633;
    border-color: #45b93c;
    margin-bottom: 0px;
  text-align: center;
}
.navbar-nav {
  display: inline-block;
  float: none;
  margin: 0;
}
.navmenu{
  min-height:35px;
  height: 20px;
  background-color: #43b834;
}
.navbar-btn{
  height: 100%;
  margin-top: 0px;
  color: floralwhite;
  background-color: #43b834;
  border-color: #43b834;
}
.navbar-btn:hover{
  color: #b81d24;
  /*background-color: #00b3db;*/
  /*border-color: #285e8e;*/
}
.navbar-btn:active{
  background-color: #43b834;
  border-color: #43b834;
}
.navbar-btn:focus{
  outline: none;
}
