<div class="container">
    <!-- <form class="form-horizontal" [formGroup]="searchform" (click)="searchResult.getResult(searchform.value)"> -->
    <form class="form-horizontal" [formGroup]="searchform">
        <div class="form-group">
            <div class="col-md-3 col-md-offset-3">
                <!-- <select id="gender" class="form-control" placeholder="Gender" (change)="searchResult.getResult(searchform.value)" formControlName="gender"> -->
                <select id="gender" class="form-control" placeholder="Gender" formControlName="gender">                
                    <option disabled hidden value="">Select Gender</option>
                    <option value="">ANY GENDER</option>
                    <option value="B">BOY</option>
                    <option value="G">GIRL</option>
                </select>
            </div>
            <div class="col-md-3">
                <select id="theme" class="form-control" placeholder="Theme" formControlName="theme">
                    <option disabled hidden value="">Select Theme</option>
                    <option value="">ANY THEME</option>
                    <option value="GOD">GODS</option>
                    <option value="NAT">NATURE</option>
                    <option value="UNI">UNIQUE</option>
                    <option value="COL">COLOR</option>
                    <option value="MYT">MYTHOLOGY</option>
                    <option value="FLG">FEELING</option>
                    <option value="CHA">CHARACTER</option>
                    <option value="DIV">DIVINE</option>
                    <option value="PLA">PLACE</option>
                    <option value="SEA">SEASON</option>
                    <option value="FLR">FLOWER</option>
                    <option value="LIF">LIFE</option>
                    <option value="ANI">ANIMAL</option>
                    <option value="MED">MEDICINE</option>
                    <option value="CET">CELESTIAL</option>
                    <option value="NIC">NICKNAME</option>
                    <option value="SUC">SUCCESS</option>
                    <option value="MIS">MISCELLANEOUS</option>
                    <option value="TRE">TRENDY</option>
                    <option value="REL">RELATIONSHIP</option>
                    <option value="CLB">CELEBRITY</option>
                    <option value="PAT">PATRIOTIC</option>
                    <option value="MUS">MUSIC</option>
                    <option value="DAN">DANCE</option>
                    <option value="HAP">HAPPINESS</option>
                    <option value="BEU">BEAUTIFUL</option>
                    <option value="KNO">KNOWLEDGE</option>
                    <option value="FRU">FRUITS</option>
                    <option value="SPO">SPORTS</option>
                </select>
            </div>
            <!-- <div class="col-md-2">
                <select id="language" class="form-control" placeholder="Language" formControlName="language">
                    <option disabled hidden value="">Select Language</option>
                    <option value="ANY">ANY</option>
                    <option value="TEL">TELUGU</option>
                    <option value="HIN">HINDI</option>
                    <option value="TAM">TAMIL</option>
                    <option value="MAL">MALAYALAM</option>
                    <option value="KAN">KANNADA</option>
                    <option value="BEN">BENGALI</option>
                    <option value="MAR">MARATHI</option>
                    <option value="BHO">BHOJPURI</option>
                    <option value="GUJ">GUJARATI</option>
                </select>
            </div> --> 
        </div><br/>

        <div class="form-group">
            <!--<label for="has" class="col-sm-4 control-label">Contains</label>-->
           <div class="col-md-6 col-md-offset-4">
              <div class="col-md-8">
                <div class="input-group">
                  <input type="text" id="contains" class="form-control" placeholder="contains" formControlName="contains">
                  <span class="input-group-btn">
                      <button type="submit" class="btn btn-custom-theme"  (click)="searchResult.getResult(searchform.value)">Search</button>
                      <!-- <button type="submit" class="btn btn-custom-theme">Search</button> -->
                    </span>
                </div>
              </div>
            </div>
        </div>
    </form>
</div>


<div class="container">
  <app-nm-display-result></app-nm-display-result>
</div>