<div class="container">

    <h3> Suggest a Name </h3>
    <form #suggestForm="ngForm" (ngSubmit)="onSubmit(suggestForm.value)">

        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="nameString" ngModel required #nameRef
                placeholder="Please suggest a Name" />
            <div [hidden]="nameRef.valid || nameRef.pristine" class="alert alert-danger">
                Please enter a Name
            </div>
        </div>

        <button type="submit" class="btn btn-primary" ngDisabled="!suggestForm.valid">Submit</button>

    </form>
    
    <br />
    <!-- Before{{namenf_}}After
    {{status}}
    {{insertResult}} -->
    <h3>{{insertRes}}</h3>
</div>
