
<div class="container">
  
  <h3>Thank you for taking time to write a Testimonial for us:</h3>
  
  <form #testimonialGroup="ngForm" (ngSubmit)="onSubmit(testimonialGroup.value)">

    <div class="form-group col-xs-3">
      <label>Name:</label>
      <input type="text" class="form-control" name="submitter" ngModel
            placeholder="Enter Your Name" />
    </div>

    <div class="form-group col-xs-3">
      <label>Email:</label>
      <input type="text" class="form-control" name="email" ngModel
            placeholder="Enter Your Email" />
    </div>

    <div class="form-group col-xs-5">
      <label>Message</label>
      <input type="text" class="form-control" name="message" ngModel
            placeholder="Enter Your Message" />
    </div>

    <div class="col-xs-1">
      <label></label>
      <button type="submit" class="btn btn-primary ">Submit</button>
    </div>
    
  </form>

</div>


<br />
<h3>{{insertStatus}}</h3>


<div class="container">
  <div class="table-responsive">
    <div *ngIf="resultData | async">
      <table class="table">
        <thead>
        <tr>
          <th style="width: 20%"><h4>Submitter</h4></th>
          <th style="width: 20%"><h4>Email</h4></th>
          <th style="width: 60%"><h4>Message</h4></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let da of resultData | async">
          <td><h5>{{da?.submitter}}</h5></td>
          <td><h5>{{da?.email}}</h5></td>
          <td><h5>{{da?.message}}</h5></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
