<div class="container">

    <h3>TWIN NAMES:</h3>

    <form #twinForm="ngForm" (ngSubmit)="onSubmit(twinForm.value)">

        <div class="row">

            <div class="form-group col-xs-6">
                <label>Baby 1 Gender</label>
                <select class="form-control" name="gender1" ngModel>
                    <option disabled value="">SELECT</option>
                    <option value="B">BOY</option>
                    <option value="G">GIRL</option>
                </select>
            </div>
            
            <div class="form-group col-xs-6">
                <label>Baby 2 Gender</label>
                <select class="form-control" name="gender2" ngModel>
                    <option disabled value="">SELECT</option>
                    <option value="B">BOY</option>
                    <option value="G">GIRL</option>
                </select>
            </div>
            
        </div>

        <div class="row">
            <div class="col-xs-4">
            </div>

            <div class="form-group col-xs-4">
                <label>Name Contains</label>
                <input type="text" class="form-control" name="nameContains" ngModel
                        placeholder="Name Contains" />
            </div>

            <div class="col-xs-4">
            </div>

            <!-- <div class="form-group col-xs-4">
                <label>Meaning Contains</label>
                <input type="text" class="form-control" name="meaningContains" ngModel
                        placeholder="Meaning Contains" />
            </div>

            <div class="form-group col-xs-4">
                <label>Similarity By</label>
                <select class="form-control" name="similarityBy" ngModel>
                    <option disabled value="">SELECT</option>
                    <option value="">ANY</option>
                    <option value="NAME">NAME</option>
                    <option value="MEANING">MEANING</option>
                </select>
            </div> -->
            
        </div>

        <div class="row">
            <div class="col-xs-12">
                <label></label>
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>

    </form>

</div>


<hr />
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Name1</th>
                <th>Name2</th>
                <th>Meaning1</th>
                <th>Meaning2</th>
                <th>Gender1</th>
                <th>Gender2</th>
                <!-- <td>Favs</td> -->
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let row of resultData">
                <td>{{row?.name1}}</td>
                <td>{{row?.name2}}</td>
                <td>{{row?.meaning1}}</td>
                <td>{{row?.meaning2}}</td>
                <td>{{row?.gender1}}</td>
                <td>{{row?.gender2}}</td>
                <!-- <td><button (click)="addToFavs(row?.name)"><img src="./../assets/favlogo.jpg" width="25" height="25"></button></td> -->
            </tr>
        </tbody>
    </table>
</div>